
.container{
    background-color: whitesmoke;
    max-width: 80ch;
    margin-inline: auto;
    padding: 1rem;
}
nav{
    position: sticky;
    background-color: whitesmoke;
    top:0;
    display: flex;
    gap: 3rem;
    a{
        text-decoration: none;
        font-family: fantasy;
    }
}
img{
    max-width: 100%;
    width: 100%;
}